# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [1]:
nums=[1,2,3,4]
nums

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [3]:
num1=nums.copy()
num1.remove(3)
num1

[1, 2, 4]

In [4]:
num2=nums.copy()
num2.pop(2)
num2

[1, 2, 4]

In [7]:
num=[]
for i in nums:
    if i==3:
        continue
    else:
        num.append(i)
print(num)

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [9]:
lst=[2,3,4]
lst.insert(0,1)
print(lst)

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [10]:
lst.insert(2,"two-and-half")

In [11]:
print(lst)

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [29]:
phrace="Don't panic!"
lst_1=list(phrace)
print(lst_1)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [30]:
for i in lst_1:
    if( i=="'" or i=="!"):
        lst_1.remove(i)
print(lst_1)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [34]:
lst_2=[]
lst_2.append("p")
lst_1.remove("p")
lst_2.append("a")
lst_1.remove("a")
lst_2.append("n")
lst_1.remove("n")
lst_2.append("D")
lst_1.remove("D")
lst_1

['o', 't', ' ', 'i', 'c', 'n']

['D', 'o', 'n', 't', ' ', 'a', 'n', 'i', 'c']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [35]:
lst2=["p","a","n","D","a"]
string=""
res=string.join(lst2)
res

'panDa'

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [36]:
nums=(31,24,35,85)

In [39]:
print("data type",type(nums))
print(nums)

data type <class 'tuple'>
(31, 24, 35, 85)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [45]:
lst=list(nums)
lst.remove(35)
print(tuple(lst))

(31, 24, 85)

(31, 24, 85)

**Extent** tuple (85,19)

In [47]:
lst.extend([85,19])
print(tuple(lst))

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [50]:
tpl=("i","n","n","o")
"i" in tpl

True

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [57]:
lst1=["Hello",100,[],"innomatics"]
for i in range(len(lst1)):
    if lst1[i]==[]:
        lst1[i].append(200)
print(lst1)

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [63]:
tpl = ("Innomatics")
tpl1=list(tpl)
tpl1.reverse()
print(tuple(tpl1))

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [9]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [80]:
# CODE HERE
tpl2= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [81]:
for i in range(len(tpl2)):
    tpl2[i]=list(tpl2[i])
    tpl2[i].append(100)
    tpl2[i]=tuple(tpl2[i])
print(tpl2)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [1]:
# CODE HERE
tpl1= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [3]:
new_lst=[]
for i in range(len(tpl1)):
    tpl2=tpl1[i]
    lst= list(tpl2)
    lst[-1]= 100
    tpl3=tuple(lst)
    new_lst.append(tpl3)
print(new_lst)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [104]:
string=input()
string=set(string)
string=list(string)
string.sort()
print(string[-2])

523665
5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [115]:
lst=[12,24,35,70,88,120,155]
[lst[i]  for i in range(len(lst)) if i not in(0,4,5)]

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [126]:
tpl1=(1,2,3,4,5,6,7,8,9,10)
length=len(tpl1)//2
list1=[]
list2=[]
for i in range(length):
    list1.append(tpl1[i])
for i in range(length,len(tpl1)):
    list2.append(tpl1[i])
print(tuple(list1),tuple(list2))

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [127]:
tple=(1,2,3,4,5,6,7,8,9,10)
lst=[]
for i in tple:
    if(i%2==0):
        lst.append(i)
print(tuple(lst))

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

**list:** list is a mutable. means we can change/ modify the data. it will effected to the oroginal data.
1. list contains the 11 methods in python(append,copy,clrear,extend,pop,remove,reverse,count,index,sort,insert)
**tuple** tuple is a immutable. means we can't change/modify the data.
1. tuple contains only two methods. there are count and index.

### 2. Explain the difference between append() and extend() with examples

**append():** append() means adding the element at end of the list. if we want to add the element to the list we can use the append() method. if we want use the append() method, only one list is enough.
syntax: variable_name.append(elements)
**extend()** extend() means extands the one list to other list.if we can concatenate two lists we can use the extend() method. if we can use extend() we have must two lists.

In [129]:
lst=[1,2,3,4,5]
lst1=[7,8,9,10]
lst.append(6)
print(lst)
lst.extend(lst1)
print(lst)
lst1.extend(lst)
print(lst1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 3. Explain the difference between pop() and remove() with examples

**pop()**: if we can use the pop() method, using the index of the list is provided for arguments of pop() method.
if we won't provide any arguments to the pop(), it delete the element at end of the list.

**remove:** if we can use the remove() method, using the elements in the list are provided for arguments of remove() method.
if we won't provide any arguments to the remove() method,it returns the error(typeerror)

In [136]:
lst1=[1,2,3,4,5,6]
lst1.pop(1)
lst1

[1, 3, 4, 5, 6]

In [137]:
lst1.pop()
lst1

[1, 3, 4, 5]

In [138]:
lst2=[1,2,3,4,5,6]
lst2.remove(1)
lst2

[2, 3, 4, 5, 6]

In [139]:
lst2.remove()

TypeError: list.remove() takes exactly one argument (0 given)

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)