# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Sets

> **`Question:` Create a set "s" with elements**

1 , 2 , 'innomatics', 'hub'

In [1]:
s={1,2,"innomatics","hub"}

In [2]:
s

{1, 2, 'hub', 'innomatics'}

> **`Question:` Add element 'Technology' in s**

In [3]:
s.add("Technology")

In [4]:
s

{1, 2, 'Technology', 'hub', 'innomatics'}

> **`Question:` Create one more set "sc" with elements**

3,4, 'hub', 'Technology'

In [5]:
sc={3,4,"hub","Technology"}

In [6]:
sc

{3, 4, 'Technology', 'hub'}

In [12]:
sc

{3, 4, 'Technology', 'hub'}

> **`Question:` Find difference of two sets s and sc**

s - sc

In [7]:
s-sc

{1, 2, 'innomatics'}

> **`Question:` remove 2 from set s**

In [15]:
s

{1, 2, 'Technology', 'hub', 'innomatics'}

In [8]:
s.remove(2)

In [9]:
s

{1, 'Technology', 'hub', 'innomatics'}

> **`Question:`Print common element in two sets s and sc**

s intersection sc

In [10]:
s.intersection(sc)

{'Technology', 'hub'}

> **`Question:`Print all element in two sets**

s union sc

In [11]:
s.union(sc)

{1, 3, 4, 'Technology', 'hub', 'innomatics'}

**`Question:`Add a list of elements to a set**
- fruits = {"orange",'apple','kiwi'}
- colors = ['orange','red','green']

In [13]:
fruits={"orange",'apple','kiwi'}
colors= ['orange','red','green']
fruits.update(colors)

In [14]:
fruits

{'apple', 'green', 'kiwi', 'orange', 'red'}

**`Question:`Remove items 10, 20, 30 from the following set at once**
- set1 = {10, 20, 30, 40, 50}

In [16]:
set1 = {10, 20, 30, 40, 50}
set1.remove(10)
set1.remove(20)
set1.remove(30)

In [17]:
set1

{40, 50}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)