# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [41]:
person1={"Gender":"male","Location":'Nizampet, Hyderabad',"Name":"John",'Occupation': 'Data Scientist'}

In [42]:
person1

{'Gender': 'male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [34]:
keys=person1.keys()

In [35]:
keys

dict_keys(['Gender', 'Location', 'Name', 'Occupation'])

In [36]:
lst=[]
for i in keys:
    lst.append(i)
print(lst)

['Gender', 'Location', 'Name', 'Occupation']

> **`Question:` Remove Location in person1**

In [37]:
person1

{'Gender': 'male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [38]:
person1.pop("Location")
person1

{'Gender': 'male', 'Name': 'John', 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [39]:
person2={"Name":"Raghu Ram","Gender":"Male","Age":25,"Occupation":"Data Science"}

In [40]:
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': 25,
 'Occupation': 'Data Science'}

> **`Question:` Print the output as show below**

In [43]:
print("==================== person1 ====================")
print(person1)
print("==================== person2 ====================")
print(person2)

==================== person1 ====================
{'Gender': 'male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Science'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [7]:
numbers={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49} #create a dictionary

In [57]:
numbers.pop(5) # pop() removes the parculor value, based on the key
numbers

{1: 1, 2: 4, 3: 9, 4: 16, 6: 36, 7: 49}

In [58]:
numbers.popitem()  #popitem() removes the last key:value of the dictionary

(7, 49)

In [59]:
numbers

{1: 1, 2: 4, 3: 9, 4: 16, 6: 36}

In [61]:
numbers.pop(3)
numbers

{1: 1, 2: 4, 4: 16, 6: 36}

In [8]:
del numbers[1]
numbers

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [11]:
dic={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [16]:
dic1=sorted(dic.keys(),reverse=True)  #sorted the dictionary of keys. and revers the key elements. 
dic2={}
for i in dic1:
    value=dic[i]
    dic2[i]=value
print(dic2)

{9: 81, 7: 49, 5: 25, 3: 9, 1: 1, 0: 0}

In [19]:
maximum=max(dic.keys())   #returns the maximum numer in dictionary
dict3={}
for i in range(maximum,-1,-1):
    if i in dic:
        value=dic[i]   #get the value from the dictionary based on key value
        dict3[i]=value
print(dict3)

{9: 81, 7: 49, 5: 25, 3: 9, 1: 1, 0: 0}

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [3]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [33]:
dict4={}
def fun(dic):
    for i in dic:
        if i in dict4:
            value=dic[i]
            value1=dict4[i]
            if(value>value1):
                dict4[i]=value
            else:
                dict4[i]=value
            
        else:
            value=dic[i]
            dict4[i]=value
dict1={ 'a': 1, 'b': 2}
dict2={ 'b': 3, 'c': 4 }
dict3={ 'c': 5, 'd': 6 }
fun(dict1)
fun(dict2)
fun(dict3)
print(dict4)

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [46]:
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}
for i in sample_dict:
    nested_dict=sample_dict[i]
    for j in nested_dict:
        name=nested_dict[j]
        if name=="Charan":
            nested_dict["salary"]=8500
        else:
            pass
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

In [48]:
sampleDict = {"class":{ 
               "student":{
               "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [63]:
new_dict=sampleDict["class"]["student"]["marks"]["history"]
new_dict

80

In [64]:
sampleDict = {"class":{ 
               "student":{
               "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
new_dict=sampleDict["class"]["student"]
new_dict
for i in new_dict:
    if i=="marks":
        nested_dict=new_dict[i]
        for j in nested_dict:
            if j=="history":
                print(nested_dict[j])

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [21]:
dic2={'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [22]:
if "Location" in dic2:
    replace=dic2["Location"]
    dic2["Area"]=replace
    del dic2["Location"]
dic2

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

In [8]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
keys=database.keys()
def database1(user_name,password):
    for i in database:
        if user_name in keys:
            user_password=database[i]
            if(password==user_password and i==user_name ):
                print(f"hell0 {i}")
            elif(password!=user_password and i==user_name):
                print("you want me to add into the database ?")
                new_password=int(input())
                database[i]=new_password
    print(database)

In [9]:
database1("ram",4321)

you want me to add into the database ?
1238
{'ram': 1238, 'raghu': 5678, 'kanav': 1357}

In [10]:
database1("raghu",5678)

hell0 raghu
{'ram': 1238, 'raghu': 5678, 'kanav': 1357}

In [7]:
database1("kanav",1357)

hell0 kanav
{'ram': 4567, 'raghu': 5678, 'kanav': 1357}