# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**

volume = 4/3 pi $r ^3$

In [4]:
def vol(rad):
    volume = (4/3)*3.14*(rad**3)
    return volume
vol(4)

267.94666666666666

___
**Write a function that checks whether a number is in a given range (Inclusive of high and low)**

In [7]:
def ran_check(num,low,high):
    if(num>=low and num<=high):
        print("The number is in a given range inclusive of high and low")
    else:
        print("The number is not in a given range inclusive of high and low")

In [8]:
ran_check(3,1,10)

The number is in a given range inclusive of high and low

In [9]:
ran_check(4,5,20)

The number is not in a given range inclusive of high and low

If you only wanted to return a boolean:

In [10]:
def ran_bool(num,low,high):
    if(num>=low and num<=high):
        return True
    else:
        return False

In [11]:
ran_bool(3,1,10)

True

In [12]:
ran_bool(4,5,20)

False

____
**Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [3]:
def up_low(s):
    count_upper=0
    count_lower=0
    for i in range(len(s)):
        if s[i].isupper():
            count_upper+=1
        elif(s[i].islower()):
            count_lower+=1
    print("No. of Upper case characters :",count_upper)
    print("No. of Lower case Characters :",count_lower)
up_low('Hello Mr. Rogers, how are you this fine Tuesday?')
            
            
    
    # code here

No. of Upper case characters : 4
No. of Lower case Characters : 33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [16]:
def unique_list(l):
    lst=[]
    for i in l:
        if i not in lst:
            lst.append(i)
    print("Unique List :",lst)
print("Sample List :",list(map(int,input().split(","))))
unique_list(lst1)

1,1,1,1,2,2,3,3,3,3,4,5
Sample List : [1, 1, 1, 1, 2, 2, 3, 3, 3, 3, 4, 5]
Unique List : [1, 2, 3, 4, 5]

In [17]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

Unique List : [1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [18]:
def multiply(numbers):
    result=1
    for i in numbers:
        result*=i
    return result

In [19]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [28]:
def palindrome(s):
    empty_str=""
    for i in range(len(s)-1,-1,-1):
        empty_str=empty_str+s[i]
    if(s==empty_str):
        return True
    else:
        return False

In [29]:
palindrome('helleh')

True

In [31]:
palindrome('hello')

False

In [30]:
palindrome('madam')

True

## Given a number N.Find Sum of 1 to N Using Recursion

In [36]:
# CODE HERE
def summation(n):
    if(n>0):
        if(n==1):
            return 1
        else:
            return n+summation(n-1)
n = int(input())
sum = summation(n)
print(sum)

10
55

### Define a function which can generate and print a list where the values are square of numbers between 1 and 20

In [39]:
def printList():
    lst=[]
    for i in range(1,21):
        lst.append(i*i)
    print(lst)
        
printList()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [40]:
def printDict():
    dic={}
    for i in range(1,21):
        dic[i]=i*i
    print(dic.keys())


printDict()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

### Write a function that count the no of characters of the given input text
- input
    - innomatics research labs
    
- output
    - innomatics :10
    - research : 8
    - labs : 4

In [42]:
def string(n):
    lst=n.split()
    for i in lst:
        print(i+":",len(i))
string("innomatics research labs")

innomatics: 10
research: 8
labs: 4

### Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

Using map() function

In [46]:
# CODE HERE
# No different way of code is written as the requirment is specificly mentioned in problem description
def squaredNumbers(n):
    return n*n
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list(map(squaredNumbers,li)))

 # converting the object into list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].
##### using filter()

In [60]:

def even(x):
    if x%2==0:
        return n

def squer(x):
    return x*x

li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result=list(filter(even,li))
print(list(map(squer,result)))
# code here
# first filters number by even number and the apply map() on the resultant elements

[4, 16, 36, 64, 100]

### Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included)

In [50]:
# CODE HERE
def even(x):
    if(x%2==0):
        return x


evenNumbers = filter(even, range(1, 21))
print(list(evenNumbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### $f(n)=f(n-1)+f(n-2)$ if n>1

In [55]:
def f(n):
    if(n>=0):
        if(n<=1):
            return n
        else:
            return f(n-1)+f(n-2)
n = int(input("Enter n value"))
print(f(n))

Enter n value7
13

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)